<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rnsit.utopia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Teams"
            android:parentActivityName=".Teams"
            android:label="Teams">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>
        <activity
            android:name=".Results"
            android:parentActivityName=".Results"
            android:label="Results">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>
        <activity
            android:name=".Events"
            android:parentActivityName=".Events"
            android:label="Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>
        <activity
            android:name=".feedback"
            android:parentActivityName=".feedback"
            android:label="Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>
        <activity
            android:name=".Contact"
            android:parentActivityName=".Contact"
            android:label="Coordinators">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>
        <activity
            android:name=".AboutApp"
            android:parentActivityName=".AboutApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>

        <activity android:name=".AboutDev"
            android:parentActivityName=".AboutDev"
            android:label="About Developer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rnsit.utopia.MainActivity" />
        </activity>

        <!--<service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_notifications" />
        </service>-->
    </application>

</manifest>